body {
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
  color: #666;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* 顶部悬停下拉选单 */
.shortcut {
  background-color: #e3e4e5;
  border-bottom: 1px solid #ddd;
}

.shortcut a {
  color: #999;
}

.dropdownImg {
  width: 10px;
  height: 10px;
}

.locationImg {
  width: 16px;
  height: 16px;
  margin: 0 0 3px 0;
}

.shortcut a:hover {
  color: #e33333;
}

.shortcut .topbar {
  height: 30px;
  line-height: 30px;
  color: #999;
  width: 1190px;
  margin: auto;
}

.shortcut .dropdownBtnLink {
  float: left;
}

.dropdownBtnLink {
  height: 28px;
  line-height: 28px;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid #e3e4e5;
  position: relative;
  z-index: 1;
}

.fa-map-marker {
  font-size: 14px;
  margin-right: 2px;
  color: #e10215;
}

.dropdownBtn:hover .dropdownBtnLink {
  padding-bottom: 2px;
  border-color: #ccc;
  border-bottom: none;
  background-color: #fff;
}

.dropdownBtn {
  position: relative;
}

.dropdownLayer {
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 30px;
  width: 300px;
  padding: 10px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.dropdownBtn:hover .dropdownLayer,
.dropdownBtn:hover .dropdownLayer-info,
.dropdownBtn:hover .dropdownLayer-corder {
  display: block;
}

.area-content-list {
  overflow: hidden;
}

.item {
  float: left;
  width: 60px;
  padding: 2px 0;
}

.item a {
  float: left;
  padding: 0 8px;
}

.item a:hover {
  background-color: #f4f4f4;
}

a.selected {
  background-color: #f10215;
  color: #fff;
}

a.selected:hover {
  background-color: #f10215;
  color: #fff;
}


.area_item {
  width: 145px;
  height: 26px;
  line-height: 26px;
  float: left;
}

.fr {
  float: right;
}

.fr li {
  float: left;
}

.sp1 {
  margin-right: 8px;
}

li.spacer {
  width: 1px;
  height: 10px;
  margin: 11px 5px 0;
  background-color: #ccc;
}

a.link_regist,
a.link_corder {
  color: #f10215;
}

.sp {
  padding-left: 7px;
  padding-right: 7px;
}

a.dropdownBtnLink .fa-angle-down,
a.dropdownBtnLink .fas,
a.link_corder .fa-angle-down,
a.link_corder .fas,
a.fa-angle-down:hover {
  color: #999;
}

.dropdownLayer-info {
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 30px;
  width: 260px;
  padding: 10px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.info-list {
  margin: 5px 0 8px 8px;
  overflow: hidden;
}

.info-item {
  width: 126px;
  float: left;
}

.dropdownLayer-corder {
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 30px;
  width: 130px;
  padding: 10px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.corder-list {
  margin: 5px 0;
}

.corder-item {
  float: left;
}

.corder-item .corder-link {
  padding: 0 5px;
  float: left;
}

.dropdownBtnc {
  float: left;
  position: relative;
}

.link_service {
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid #e3e4e5;
  float: left;
  position: relative;
  height: 28px;
  line-height: 28px;
  z-index: 1;
}

.dropdownBtnc:hover .link_service {
  border: 1px solid #ccc;
  padding-bottom: 2px;
  border-bottom: none;
  background-color: #fff;
}

.dropdownLayer-service {
  display: none;
  z-index: 1;
  padding: 5px 8px;
  position: absolute;
  top: 30px;
  right: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.dropdownBtnc:hover .dropdownLayer-service {
  display: block;
}

h3::before,
h3::after {
  content: "";
  display: table;
  clear: both;
}

.h3 {
  font-size: 14px;
  font-weight: bold;
}

.service-item {
  float: left;
  width: 70px;
}

a.service-link {
  margin-left: 5px;
}

.topbar_btn_nav {
  float: left;
  position: relative;
}

.link_nav {
  float: left;
  height: 28px;
  line-height: 28px;
  border: 1px solid #e3e4e5;
  position: relative;
  padding-left: 7px;
  padding-right: 7px;
  z-index: 1;
}

.topbar_btn_nav:hover .link_nav {
  border: 1px solid #ccc;
  border-bottom: none;
  padding-bottom: 2px;
  background-color: #fff;
}

.dropdownLayer-nav {
  display: none;
  z-index: 1;
  position: absolute;
  top: 30px;
  width: 1188px;
  right: -75px;
  line-height: 24px;
  padding: 15px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.topbar_btn_nav:hover .dropdownLayer-nav {
  display: block;
}

.col1 {
  float: left;
  width: 340px;
  padding-left: 20px;
}

.dropdownLayer-nav h3 {
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
  background-color: #fff;
}

.nav-item {
  float: left;
  width: 85px;
}

.nav-link {
  float: left;
}

.col2,
.col3,
.col4 {
  float: left;
  width: 255px;
  padding-left: 20px;
  border-left: 1px solid #eee;
}

.dropdown-phone-jd {
  position: relative;
  padding-left: 7px;
  padding-right: 7px;
}

.link_phone_jd {
  position: relative;
}

.dropdown-phone-jd:hover .dropdownLayer-phone {
  display: block;
}

.dropdownLayer-phone {
  display: none;
  z-index: 1;
  position: absolute;
  right: 0;
  width: 140px;
  padding: 15px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

/* 头部样式开始 */
.header {
  display: inline-block;
  overflow: hidden;
  /* width: 100%; */
  height: 140px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.wrap {
  width: 1190px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 190px;
  height: 120px;
  margin-top: 10px;
  background: url("../images/sprite.png") no-repeat;
}

.search-log {
  display: none;
  float: left;
  width: 125px;
  height: 40px;
  background: url("../images/sprite.png") no-repeat;
  background-position: 0 -120px;
  z-index: -1;
}

.search {
  float: left;
}

.form {
  position: relative;
  width: 550px;
  height: 36px;
  border: 2px solid #e2231a;
  box-sizing: border-box;
  margin-top: 25px;
  margin-left: 70px;
}

.hot-word {
  float: left;
  width: 425px;
  height: 26px;
  padding: 2px 44px 2px 17px;
  border: 1px solid transparent;
  outline: none;
}

.form > button {
  float: left;
  width: 58px;
  height: 32px;
  line-height: 32px;
  background-color: #e1251b;
  cursor: pointer;
}

.form > button:hover {
  background-color: #c81623;
}

.list {
  display: none;
  position: absolute;
  left: 0;
  top: 36px;
  width: 488px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list > p {
  text-align: left;
  line-height: 25px;
  font-size: 14px;
  color: #666;
  padding: 0 5px;
  cursor: pointer;
}

.list > p:hover {
  background-color: #ddd;
}

.shopCart {
  width: 130px;
  height: 34px;
  background-color: #fff;
  float: right;
  margin: 25px 200px 0 0;
  text-align: center;
  line-height: 34px;
  border: 1px solid;
  border-color: #eee;
}

.cartImg {
  width: 16px;
  height: 16px;
  float: center;
  margin: 0 10px 5px 0;
}

.shopCart:hover {
  width: 130px;
  height: 34px;
  background-color: #fff;
  float: right;
  margin: 25px 200px 0 0;
  text-align: center;
  line-height: 34px;
 border: 1px solid;
  border-color: #e1251b;
}

.cartText {
  font-size: 14px;
  color: #e1251b;
  /* font-family: Microsoft YaHei; */
}


/* 头部样式结束 */
/* banner样式开始 */
.banner {
  width: 100%;
  height: 470px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.banner-box {
  width: 790px;
  height: 470px;
  float: left;
  margin: 0 10px;
}

.slide-banner {
  position: relative;
  float: left;
  width: 590px;
  height: 470px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 25px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.15);
}

.prev {
  left: 0;
  border-radius: 0 18px 18px 0;
}

.next {
  right: 0;
  border-radius: 18px 0 0 18px;
}

.banner-btn {
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.banner-btn > li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.4);
}

.banner-btn > .btn-active {
  width: 9px;
  height: 9px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: -2px;
}

.banner-aside {
  width: 190px;
  height: 470px;
  float: right;
}

.banner-aside li {
  height: 150px;
  margin-bottom: 10px;
}

.banner-aside img {
  width: 100%;
}

.banner-left {
  width: 190px;
  height: 470px;
  background-color: #fff;
  float: left;
}

.banner-right {
  width: 190px;
  height: 470px;
  background-color: #fff;
  float: left;
}

.user {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 102px;
}

.avatar {
  width: 44px;
  height: 44px;
  position: absolute;
  margin: 13px 0 0 20px;
}

.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userProfile {
  overflow: hidden;
  width: 106px;
  height: 40px;
  line-height: 20px;
  margin: 16px 0 0 74px;
  font-size: 12px;
  /* font-family: Microsoft Yahei; */
  color: #666;
}

.nickname {
  width: 100%;
  height: 50%;
  color: #666;
}

.nickname:hover {
  width: 100%;
  height: 50%;
  color: #e1251b;
}

.userHandle {
  width: 100%;
  height: 50%;
}

.userLogin {
  color: #333;
}

.userLogin:hover {
  color: #e1251b;
}
.userRegister {
  color: #333;
}

.userRegister:hover {
  color: #e1251b;
}

.userProfit {
  width: 100%;
  height: 25px;
  margin: 10px 0 0 0;
}

.userWelfare {
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 13px;
  background: #e1251b;
}

.userWelfare:hover {
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 13px;
  background: #c52219;
}

.plusMember {
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  color: #e5d790;
  border-radius: 13px;
  background: #363634;
}

.plusMember:hover {
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 13px;
  background: #c52219;
}

.jdNews {
  display: block;
  overflow: hidden;
  text-align: left;
  width: 100%;
  height: 130px;
  padding: 10px 0 0 0;
  /* font-family: Microsoft YaHei; */
  /* background-color: #c81623; */
}

.jdTitle {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: 0 0 8px 0;
}

.title {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 0 15px;
  color: #333;
}

.moreNews {
  width: auto;
  height: 21px;
  margin: 0 0 0 60px;
  font-size: 12px;
  color: #999;
}

.newsList {
  width: 160px;
  margin: 0 0 0 15px;
  height: 88px;
  /* background-color: #e5d790; */
}

.newsTitle {
  width: 160px;
  height: 16px;
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #999;
}

.newsLink {
  color: #666;
  text-decoration: none;
}

.newsLink:hover {
  color: #e1251b;
}

.newsTag {
  display: inline-block;
  position: relative;
  font-size: 12px;
  height: 16px;
  width: 35px;
  line-height: 16px;
  text-align: center;
  vertical-align: 0;
  color: #e1251b;
  background-color: rgba(225, 37, 27, 0.08);
  margin-right: 6px;
}

.jdService {
  overflow: hidden;
  width: 100%;
  height: 238px;
  /* font-family: Microsoft YaHei; */
  /* background-color: #c81623; */
}

.serviceList {
  padding-top: 5px;
  height: 225px;
}

.service {
  position: relative;
  float: left;
  width: 63px;
  height: 55px;
  background: #fff;
  text-align: center;
  overflow: hidden;
}

.serviceLink {
  display: block;
}

.serviceIcns {
  /* position: relative; */
  width: 28px;
  height: 28px;
  margin: 0 auto;
}

.normalIcns {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.hoverIcns {
  display: none;
  width: 28px;
  height: 28px;
}

.service:hover .hoverIcns {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.service:hover .normalIcns {
  display: none;
  width: 28px;
  height: 28px;
}

.serviceText {
  display: block;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border-bottom: 2px solid #fff;
  color: #333;
}

.service:hover .serviceText {
  display: block;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border-bottom: 2px solid #fff;
  color: #e1251b;
}

.serviceText:hover {
  display: block;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border-bottom: 2px solid #fff;
  color: #e1251b;
}

/* banner样式结束 */
/* 主体样式开始 */
.home {
  position: relative;
  height: 4000px;
}

.miaosha {
  height: 260px;
  background-color: pink;
}

.tese {
  height: 980px;
  background-color: palegreen;
}

.guangchang {
  height: 1005px;
  background-color: palevioletred;
}

.forU {
  height: 666px;
  background-color: paleturquoise;
}

/* 电梯样式 */
.elevator {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 615px;
  transition: all 0.5s;
}

.elevator > a {
  display: block;
  width: 58px;
  height: 38px;
  color: #333;
  font-size: 14px;
  line-height: 19px;
  padding: 11px 0;
  background-color: #fff;
}

.elevator-fix {
  position: fixed;
  top: 75px;
}

.elevator > .active {
  color: #e1251b;
}

/* 主体样式结束 */
